.root{
    -fx-font: bold 10pt "Arial";

}


#pane{
    -fx-background-image: url("Background.jpg");

}


.button{
    -fx-background-color: #004d00;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 10px 24px;
    -fx-pref-width: 250px;

}

.button:hover{
  -fx-background-color: #004000;
}

#intro{
  -fx-font: bold 42pt "Big Caslon";
  -fx-text-fill: #FFDF00;
  -fx-effect: dropshadow(three-pass-box, black, 1, 0, 0, 1);
}

#smallheadline{
  -fx-font: bold 30pt "Big Caslon";
  -fx-text-fill: #FFDF00;
  -fx-effect: dropshadow(three-pass-box, black, 1, 0, 0, 1);
}

#smallerheadline{
  -fx-font: bold 12pt "Big Caslon";
  -fx-text-fill: #FFDF00;
  -fx-effect: dropshadow(three-pass-box, black, 1, 0, 0, 1);
}


